
<div class="menu_categories menu_block">
    <?php $categoryId = $this -> getCategoryId(); ?>
    <?php $category = Mage::getModel('catalog/category')->load($categoryId); ?>
    <h3><a href="<?php echo $category->getUrl() ?>" title="<?php echo $category->getName() ?>">
        <?php echo $category->getName() ?></a></h3>
    <?php
    $categories = $category->getCollection()
        ->addAttributeToSelect(array('name'))
        ->addAttributeToFilter('is_active', 1)
        ->addIdFilter($category->getChildren())
    ?>
    <ul>
        <?php foreach ($categories as $category): ?>
            <li>
                <a href="<?php echo $category->getUrl() ?>" title="<?php echo $category->getName() ?>">
                    <?php echo $category->getName() ?></a>
            </li>
        <?php endforeach; ?>
    </ul>
</div>